html {
    background: #000000;
    background-image: linear-gradient(to right, #171717 10%, #000000 40%);
    -webkit-font-smoothing: antialiased
}

body {
    background: #000000;
    box-shadow: 0 0 2px rgba(0, 0, 0, .06);
    color: #999999;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 100px;
    padding: 2em 2em 4em;
    text-align: left;   
    background: url("images/fonziesdaw.png") no-repeat fixed right;

}

h1{
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.3;
    text-align: left;
}

}
h2,
h3,
h4,
h5,
h6 {
    color: #898989;
    font-weight: 600;
    line-height: 1.3;
    text-align: left;
}

h2 {
    margin-top: 1.3em;
}

.buttons {

    border: 1px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 180px;
    background-color: ;
}

.buttons2 {

    border: 1px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 180px;
    background-color: ;
}


.dropdown {
    position: relative;
    display: inline-block;
    background-color: #FFFFFF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #202020;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}