    <?php if (isset($error)): ?>
        <div class="red-text">Error: <?= $error ?></div>
    <?php endif; ?>
    
  <div class="row">
    <form class="col s12" action="index.php" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Ex.Juan Perez" id="usuario" name="usuario" type="text" class="validate">
          <label for="usuario">Usuario</label>
        </div>
        <div class="input-field col s12">
          <input id="password" type="password" name="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s12">
          <input class="btn waves-effect waves-light #84ffff cyan accent-1" id="submit" type="submit" name="submit" value="Entrar" >
          
        </div>
      </div>
      
    </form>
  </div>