<div class="right-align"><a href="index.php">Salir <i class="Small material-icons">directions_run</i></a></div>



   <h1>Hola!, entraste a tu perfil</h1>
   

    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card">
                <div class="card-header" data-background-color="blue">
                    <h4 class="title">Preguntas</h4>
                    <p class="category">Respuestas a las preguntas</p>
                </div>
                <div class="card-content">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">¿Por qué es una buena práctica separar el controlador de la vista?
                      <br><br><p>Porque no es necesario que el ususario conozca todo lo que se está validando en el sitio,
                      además de que agrega más seguridad y privacidad.</p>

                    </li>
                    <li class="list-group-item">Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?
                      <br><br><p>Existe $_SERVER que contiene información como cabeceras, rutas y ubicaciones de script. También existe $_SESSION contiene variables de sesión disponibles para el script actual. [<a href="#refer">1</a>]</p>
                    </li>
                    <li class="list-group-item">Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención.
                      <br><br><p>Me llamó mucho la atención la función "htmlspecialchars()" ya que es muy útil a la hora de evitar ataques y es muy fácil de utilizar. De
                      forma similar me gustó la función de "stripslashes()", ya que ayuda a limpiar las entradas de ususario y es muy útil para evitar ataques. [<a href="#refer">2</a>]</p>
                    </li>
                    <li class="list-group-item">¿Qué es XSS y cómo se puede prevenir?
                      <br><br><p>Es un ataque que se da cuando dejas campos de libre ingreso de texto al sitio, en estos casos
                      se puede atacar por medio de scripts que dañen la página o roben información. Se puede prevenir regulando y
                    controlando las entradas que el usuario hace. </p>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <div class="card" id="refer">
                <div class="card-header" data-background-color="grey">
                    <h4 class="title">Referencias</h4>
                    <p class="category"></p>
                </div>
                <div class="card-content">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">[1] PHP. Recuperado de: http://php.net/manual/es/reserved.variables.session.php</li>
                    <li class="list-group-item">[2] W3S. Recuperado de: https://www.w3schools.com/php/php_form_validation.asp</li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>