body {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
}


code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}    

    #div1 {
        color: blue;
        width: 350px;
        height: 70px;
        padding: 10px;
        border: 1px solid #aaaaaa;
        }  

        img {
            opacity: 0.3;
            filter: alpha(opacity=50); /* For IE8 and earlier */
        }

        h1 {

            color: blue;
            text-align: center;
        }

        h2{

            color: black;
            text-align: center;

        }
