html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, #e6e9e9 0, #d8dddd 100%);
    -webkit-font-smoothing: antialiased
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .06);
    color: #521464;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
    text-align: left;   
    background: url("senna 2.jpg") no-repeat right top fixed;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #077;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
}

h2 {
    margin-top: 1.3em;
}


img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: 0 0;
    border: 10px solid rgba(0, 0, 0, .12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

