body {
  margin: 0 auto;
  max-width: 60em;
}


code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}    

img {
            opacity: 0.3;
            filter: alpha(opacity=50); 
        }

h1 {
background-color: yellow;
text-align: center;
}

div {
    background-color: lightgrey;
}

ul {

	text-align: center;
}