
<h1>DJ Fonz</h1>

    
    <?php if (isset($_SESSION["imagen"])): ?>
        <img src="<?=$_SESSION["imagen"]?>" alt="Imagen de DJ Fonz">
    <?php endif ?>

    <div class="video-container">
        <iframe width="853" height="480" src="//www.youtube.com/embed/fpigDGf6vXM?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
        