<h1>DJ Fonz</h1>
    
<h2>Subir imagen</h2>

    <?php if (isset($error)): ?>
        <div class="red-text">Error: <?= $error ?></div>
    <?php endif; ?>
    
  <div class="row">
    <form action="controllerUpload.php" method="POST" enctype="multipart/form-data">
    <div class="file-field input-field">
      <div class="btn">
        <span>Imagen de DJ Fonz</span>
        <input type="file" name="imagen">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
      <input type="submit" class="waves-effect waves-light btn" value="Subir">
    </div>
  </form>
  </div>
        
    